{% extends "base.html" %}
{% block title %}
Tutorial - Determining Endpoint
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h1 class="d-flex justify-content-center"> Determining the Endpoint</h1>
                <p class="justify-content-center">
                 Determining the endpoint of the titration and returning the exact volume used by the syringepump is a crucial part of the automated titration.
                 In this section the last color change will be detected and the volume will be calculated from the output of the steppermotor.
                 More specific the steps the motor took since the titation started. A simplified Example with only 3 color channels is shown below. This example shows how the titration is seen by the lightsensor.<b></b>    
                 At the start of the titration the fluid is transparent and the lighth values are at a high level, because all lightrays are reflected. Once the fluid changes it color because of the indicator and change in acidity, more lightrays are absorded and the light values will shrink. This can be seen in the example below.<b></b>
                 One Important aspect to consider is that sometimes the color of the fluid will reverse back to its original color. This should be considered inside the automation.
                </p>
                <img src="{{ uml_src }}" alt="Result Image" class="img-fluid">
                <p class="justify-content-center">
                This section is the last procedure of the automated titration. We need to have a final check on the light sensor and if the Titration is completed, we want to know the volume that was pumped into the solution.
                Similiar to the calibration, the steppermotor counts all steps taken since the start of the Titration. The information gained from the calibration will be used to converse the steps into the final volume.
                
                

                </p>
        </div>

            <div class="col-12 col-md-6 order-md-last">
                <h1 class="d-flex justify-content-center">Task</h1>
                <form action="#" method="post">
                <p>
                    The following pseudo-code describes how to determine the endpoint of the titration.
                    The Sensor has recorded a change in light values and the following procedure needs to be coded.<br>
                    The pseudo-code is incomplete, so you need to fill in the missing parts. <br>
                </p>
                <pre><code class="d-flex justify-content-center">
                <p>
                <span class="keyword">//The Arduino has recorded a change in light value
                //The syringepump is set to 0 and is waiting for the next command
                </span>
                <span class="keyword">if</span> sensor data <span class="string">"significantly changes"</span>, run the following routine:

                <span class="keyword">execute</span> the function <span class="function">Stop_Pump()</span>
                <span class="comment">//First wait for the equilibirum to settle, as the color might change back again </span>
                <span class="keyword">wait(<span class="function">10s</span>)</span>
                <span class="function">if </span><span class="punctuation"></span></span><span class="punctuation"></span><span class="identifier">current_color </span><span class="identifier"> &gt; 0.9 * initial_color</span><span class="punctuation"></span> <span class="keyword">then</span>:    
                    <Input class="user-input" type="text" id="Tut_Command" name="Tut_Command" placeholder="Command" style="width: 80px;" pattern="Continue|Break|End" title="Please use Conditional statements Continue|Break|End"> Titration

                <span class="function">if </span><span class="punctuation"></span></span><span class="punctuation"></span><span class="identifier">current_color </span><span class="identifier"> &lt; 0.9 * initial_color</span><span class="punctuation"></span> <span class="keyword">then</span>:    
                    <span class="keyword">record</span> the total amount of substance used:
                    <span class="comment">//We use the calibration function to determine the volumina</span>
                    <span class="function">Stepcount</span>()
                        <span class="function">get</span> Steps
        
                    <span class="function">calibration(<input class="user-input" type="text" id="Tut_Steps" style="width: 80px; color: blue;" name="Tut_Steps" placeholder="Variable">)</span>
                        <span class="keyword">Return</span> Volume

                Finally <span class="keyword">end</span> endpoint determination
                        <span class="function">Display</span>( "Titration used <input class="user-input" type="text" id="Tut_Variable" placeholder="Variable" name="Tut_Variable" style="width: 80px;"> ml")
                </p>
                </code></pre>
                <input type="submit" value="Submit">
                            {% if visible_tips %}
                            <p>
                            <br>
                            You got {{ value }} out of 3 points.<br>
                            <ul>
                                {% for tip in tips.split("\n")[:-1] %}
                                    <li>{{ tip }}</li>
                                {% endfor %}
                            </ul>
                            </p>
                            {% endif %}
                        </form>

                        {% if value == 3 %}
                            <a href="{{ url_for('AutomatedTitration') }}" class="btn btn-primary">Go to the Automated Titration</a>
                        {% endif %}
                </form>
                    </section>
            </div>
        </div>
    </section>
</div>

<script>

const textAreas = document.getElementsByClassName('user-input');

console.log(textAreas);

// Loop over all input elements
for (let i=0; i < textAreas.length; i++) {
    let textArea = textAreas[i];

    console.log(textArea.id);

    // Save input to local storage on every change
    textArea.addEventListener('input', () => {
    sessionStorage.setItem(textArea.id, textArea.value);
    });

    // Set text area value to saved input on page load
    window.addEventListener('load', () => {
    const savedInput = sessionStorage.getItem(textArea.id);
    if (savedInput) {
        textArea.value = savedInput;
    }
    });
}
</script>
{% endblock %}
