{% extends "base.html" %}
{% block title %}
Tutorial
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block main %}


<div class="dashboard">
    <section class="main">
        <img src="{{ uml_src }}" alt="Result Image">
    </section>
    <section class="prompt">
        <form action="#" method="post">
            <p>
            <label for="first">First step:</label>
            <br><br>
            <input type="text" id='user-input' placeholder="Gib hier den Pseudo-Code ein" name="user-input" autofill="off" >
                {{ value }}
            <br><br>
            <label for="second">Second step:</label>
            <br><br>
            <input type="text" id="second" name="second">
                
            <p>
            <label for="While">While loop:</label>
            <br></br>    
            <label for="variable">Variable:</label>
            <br><br>
            <input type="text" id="third" name="second">
                
            <br><br>
            <label for="variable">Loop Condition:</label>
            <br><br>
            <input type="text" id="fourth" name="second" >
                
            <br><br>
            <label for="variable">End Condition:</label>
            <br><br>
            <input type="text" id="fifth" name="second">
                
            <br><br>
            </p>
            </p>
            <p>
            <input type="submit" value="Submit">
            </p>
          </form>


        <!-- <form action="#" method="post">
            <textarea name="user-input" id="user-input" placeholder="Gib hier den Pseudo-Code ein" required="true">
                {{ value }}
            </textarea>
            <br>
            <input type="submit" value="Submit">
            <br>
            <p>Your score is: {{ score }}<br>The order score is: {{Oscore}}</br>
            </p>
        </form>
        -->
    </section>
</div>




<script>
const textArea = document.getElementById('user-input');

// Save input to local storage on every change
textArea.addEventListener('input', () => {
  localStorage.setItem('textAreaInput', textArea.value);
});

// Set text area value to saved input on page load
window.addEventListener('load', () => {
  const savedInput = localStorage.getItem('textAreaInput');
  if (savedInput) {
    textArea.value = savedInput;
  }
});


</script>
{% endblock %}

<!-- (HIER MÜSSTE JETZT block script eingefügt werden)
    <script>
        function saveValue(inputElement) {
                if (!inputElement) throw new Error('inputElement param is required');

                const { id, value } = inputElement;

                if (!id) throw new Error('inputElemend should have an id attribute');

                localStorage.setItem(id, value);
            }

        function getSavedValue(inputElement) {
            if (!inputElement) throw new Error('inputElement param is required');

            const { id } = inputElement;

            if (!id) throw new Error('inputElemend should have an id attribute');

            const value = localStorage.getItem(id);

            return value;
        }

        const input = document.querySelector('#user-input');

        input.addEventListener("keyup", function(event) {
            saveValue(event.target)
        });

        window.addEventListener('load', function() {
            const value = getSavedValue(input);
            input.value = value;
        })
    </script>
-->