html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(230, 228, 225);
}
.dashboard {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

/* ==================================
            Main Content
====================================*/
.dashboard .main {
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}
.dashboard .main img {
    width: 100%;
    height: auto;
}
.dashboard .main .block-container {
    height: 25vh;
    width: 90%;
    background-color: beige;
    
}
/* ==================================
            Prompt Window
====================================*/
.dashboard .prompt {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.dashboard .prompt form {
    height: 100%;
    width: 100%;
}
pre {
    background-color: #1e1e1e; /* Dunkelgrau */
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    overflow: auto;
}
code {
    font-family: "Courier New", Courier, monospace;
}

code p {
    color: white;
}

code .user-input {
    min-width: 50px;
}

code .keyword {
    color: #569cd6; /* Dunkelblau */
}
code .string {
    color: #ce9178; /* Hellbraun */
}
code .function {
    color: #dcdcaa; /* Hellgelb */
}
code .comment {
    color: #608b4e; /* Dunkelgrün */
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 5px; /* change this to whatever height you want it */
}