{% extends "base.html" %}  <!-- Extend the base layout -->

{% block title %}
Home
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}"> <!-- Link to the main CSS file -->
{% endblock %}

{% block main %}
<div class="container py-5 dashboard"> <!-- Main dashboard container -->
    <div class="main"> <!-- Main content section -->
        <h1 class="mb-5">Welcome to the Interactive Titration Simulation Tutorial!</h1>
        
        <div class="block-container"> <!-- Project Overview block -->
            <h2>Project Overview</h2>
            <p>Our project aims to provide students with a deep understanding of automating a titration. Through an Arduino-based hardware solution, a user-friendly web application, and interactive pseudo-code tasks, students can learn the individual steps of titration and its automation.</p>
            <img src="{{ url_for('static', filename='assets/SVGs/Circuit.svg') }}" alt="Project Overview" class="img-fluid" style="height: 80%; width: 80%;">
        </div>

        <div class="block-container"> <!-- Scientific Background block -->
            <h2>Scientific Background</h2>
            <p>Titration is a fundamental procedure in chemistry used to determine the concentration of a known reactant in a solution. By automating this process, we can improve accuracy, repeatability, and efficiency.</p>
            <img src="{{ url_for('static', filename='assets/SVGs/exampletitration.svg') }}" alt="Scientific Background" class="img-fluid">
        </div>

        <div class="block-container"> <!-- Our Technology block -->
            <h2>Our Technology</h2>
            <p>We use an Arduino microcontroller to automate the titration step. In addition, we use Flask as a web framework to create a user-friendly interface through which users can understand and modify the Arduino code and its functions.</p>
            <img src="{{ url_for('static', filename='assets/SVGs/ProjectOverview.svg') }}" alt="Our Technology" class="img-fluid">
        </div>

        <div class="block-container"> <!-- How It Works block -->
            <h2>How It Works</h2>
            <p>In this interactive tutorial, students learn how the automation of titration works by completing pseudo-code and matching it with the corresponding functions of the Arduino code. Students' progress is evaluated through a scoring system, and helpful tips support them in improving their skills.</p>
            
        </div>
    </div>

    <div class="prompt"> <!-- Getting Started section -->
        <h2>Get Started</h2>
        <p>To get started, visit the <a href="{{ url_for('workspace')}}">Workspace</a> and start the tutorial. Enjoy learning!</p>
    </div>
</div>
{% endblock %}
