{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<h1>Instructions to use this website for the laboratory stand</h1>
<p>Control and automation of the titration stand using pseudocode</p>
<p>Simple syntax and ready-made functions provide an easy introduction to programming, conditional steps inside a process and displaying the process with activity diagrams</p>

<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity=
"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">


       
<button type="button"
class="btn btn-primary"
data-toggle="modal"
data-target="#exampleModal">
Start Instructions
</button>

<div class="modal fade"
id="exampleModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true">
 
<div class="modal-dialog modal-dialog-centered modal-scrollable modal-lg" role="document">
    <div class="modal-content">
     
        <!-- Add image inside the body of modal -->
        <div class="modal-body modal-xl">
            <img id="image-modal" src="{{ url_for('static', filename='assets/SVGs/INS1.svg') }}" alt="Instructions 1" style="width: 750px; max-height:750px">
        </div>

        <div class="modal-footer">
            <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
                Close
            </button>
            <button type="button" id="previous-btn"
                class="btn btn-primary"
                >
                Previous
            </button>
            <button type="button" id="next-btn"
                class="btn btn-primary"
                >
                Next
            </button>
        </div>
    </div>
</div>
</div>
<script>
const images = [
"{{ url_for('static', filename='assets/SVGs/INS1.svg') }}",
"{{ url_for('static', filename='assets/SVGs/INS2.svg') }}", 
"{{ url_for('static', filename='assets/SVGs/INS3.svg') }}",
"{{ url_for('static', filename='assets/SVGs/INS4.svg') }}",
"{{ url_for('static', filename='assets/SVGs/INS5.svg') }}",
"{{ url_for('static', filename='assets/SVGs/INS7.svg') }}",
"{{ url_for('static', filename='assets/SVGs/INS8.svg') }}",
];

let currentImageIndex = 0; // Start with the first image in the array

document.getElementById('previous-btn').addEventListener('click', function() {
  currentImageIndex--;
  if (currentImageIndex < 0) {
    currentImageIndex = images.length - 1; // Loop back to the last image
  }
  document.getElementById('image-modal').src = images[currentImageIndex];
});

document.getElementById('next-btn').addEventListener('click', function() {
  currentImageIndex++;
  if (currentImageIndex >= images.length) {
    currentImageIndex = 0; // Loop back to the first image
  }
  document.getElementById('image-modal').src = images[currentImageIndex];
});


</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity=
"sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous">
</script>
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity=
"sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous">
</script>
<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity=
"sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous">
</script> 
{% endblock %}