<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crosslab: Titrationsstand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <div class="dashboard">
        <section class="navigation">
            <img class="logo" src="{{ url_for('static', filename='assets/TU.jpeg')}}" alt="Logo"></img>
            <div>
                <img class="nav-icons" src="{{ url_for('static', filename='assets/ICONs/home.svg')}}" alt="Home">
                <img class="nav-icons" src="{{ url_for('static', filename='assets/ICONs/flowchart.svg')}}" alt="flowchart">
                <img class="nav-icons" src="{{ url_for('static', filename='assets/ICONs/bookmarks.svg')}}" alt="">
            </div>            
        </section>
        <section class="main">
            <div class="block-container">
            </div>
            <img class="output" src="{{ uml_src }}" alt="uml_src">
        </section>
        <section class="prompt">
            <form action="/" method="post">
                <textarea name="user-input" id="user-input" cols="30" rows="10" placeholder="Gib hier den Pseudo-Code ein"></textarea>
                <br>
                <input type="submit" value="Submit">
            </form>
        </section>
    </div>
</body>
</html>