{% extends "base.html" %}

{% block title %}
Playground
{% endblock %}

{% block header %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}"> <!-- Link to the main CSS file -->

{% endblock %}

{% block main %}
<div class="container">
  <form action="#" method="post">
    <div class="row g-4"> <!-- Row for the Responses and the graphical Outputs from the Arduino -->
        <div class="tabs">
            <h3 id="tablist-1" class="d-flex justify-content-center">Arduino Responses</h3>
            <div role="tablist" aria-labelledby="tablist-1" class="manual">
              <button id="tab-1" type="button" role="tab" aria-selected="true" aria-controls="tabpanel-1">
                <span class="focus">Terminal</span>
              </button>
              <button id="tab-2" type="button" role="tab" aria-selected="false" aria-controls="tabpanel-2" tabindex="-1">
                <span class="focus">Graphical Output</span>
              </button>
            </div> <!-- Tablist for the different outputs -->
            <div id="tabpanel-1" role="tabpanel" aria-labelledby="tab-1">
              <pre id="terminal">
> Arduino output{% if connected == True %}
> Arduino is connected
{{ log }}
<input id="query-input" type="text" placeholder="> Type in query..." name="query-input">{% endif %}{% if connected == False %}
<input id="query-input" type="text" placeholder="> Arduino not connected" name="query-input" disabled>
<input id="connect" value="connect" name="connect" type="hidden">
<form action="#" method="post"><button type="submit" class="btn col-12 button-5">CONNECT</button></form>{% endif %}
              </pre>
            </div> <!-- Tabpanel for the Terminal Output -->
            <div id="tabpanel-2" role="tabpanel" aria-labelledby="tab-2" class="is-hidden">
                <div><img id="plot" src="/create_plot" alt="plot"></div>
            </div> <!-- Tabpanel for the Graphical Output -->
          </div> <!-- Tabs for the different outputs -->
                  
      </div> <!-- Row for the Responses and the graphical Outputs from the Arduino -->
    </form>
    </div> <!-- Container for the whole page -->

    <div class="container text-center">

      <div class="row g-0"> <!-- Row for the buttons and the revolutions input -->
        <div class="col-12 p-2"> <input type="text" id="turns-count" placeholder="Number of revolutions" name="turns-count"></div>
        <div class="col-6 p-2"><button type="button" class="btn btn-secondary col-12 button-30">Clockwise</button></div>
        <div class="col-6 p-2"><button type="button" class="btn btn-secondary col-12 button-30">Counterclockwise</button></div>
      </div>

    <div class="row g-0"> <!-- Row for the slider -->
        <div class="p-2 col-12">
          <label for="customRange1" class="form-label">Syringe-Position</label>
        <input type="range" class="form-range col-12" id="customRange1">
      </div>
    </div>

    <div class="row g-0"> <!-- Row for the valve position -->

    </div>
      

    </div> <!-- Container for the buttons and the slider -->

{% endblock %}

{% block script %}

<script>
/*
 *   This content is licensed according to the W3C Software License at
 *   https://www.w3.org/Consortium/Legal/2015/copyright-software-and-document
 *
 *   File:   tabs-manual.js
 *
 *   Desc:   Tablist widget that implements ARIA Authoring Practices
 */

'use strict';

class TabsManual {
  constructor(groupNode) {
    this.tablistNode = groupNode;

    this.tabs = [];

    this.firstTab = null;
    this.lastTab = null;

    this.tabs = Array.from(this.tablistNode.querySelectorAll('[role=tab]'));
    this.tabpanels = [];

    for (var i = 0; i < this.tabs.length; i += 1) {
      var tab = this.tabs[i];
      var tabpanel = document.getElementById(tab.getAttribute('aria-controls'));

      tab.tabIndex = -1;
      tab.setAttribute('aria-selected', 'false');
      this.tabpanels.push(tabpanel);

      tab.addEventListener('keydown', this.onKeydown.bind(this));
      tab.addEventListener('click', this.onClick.bind(this));

      if (!this.firstTab) {
        this.firstTab = tab;
      }
      this.lastTab = tab;
    }

    this.setSelectedTab(this.firstTab);
  }

  setSelectedTab(currentTab) {
    for (var i = 0; i < this.tabs.length; i += 1) {
      var tab = this.tabs[i];
      if (currentTab === tab) {
        tab.setAttribute('aria-selected', 'true');
        tab.removeAttribute('tabindex');
        this.tabpanels[i].classList.remove('is-hidden');
      } else {
        tab.setAttribute('aria-selected', 'false');
        tab.tabIndex = -1;
        this.tabpanels[i].classList.add('is-hidden');
      }
    }
  }

  moveFocusToTab(currentTab) {
    currentTab.focus();
  }

  moveFocusToPreviousTab(currentTab) {
    var index;

    if (currentTab === this.firstTab) {
      this.moveFocusToTab(this.lastTab);
    } else {
      index = this.tabs.indexOf(currentTab);
      this.moveFocusToTab(this.tabs[index - 1]);
    }
  }

  moveFocusToNextTab(currentTab) {
    var index;

    if (currentTab === this.lastTab) {
      this.moveFocusToTab(this.firstTab);
    } else {
      index = this.tabs.indexOf(currentTab);
      this.moveFocusToTab(this.tabs[index + 1]);
    }
  }

  /* EVENT HANDLERS */

  onKeydown(event) {
    var tgt = event.currentTarget,
      flag = false;

    switch (event.key) {
      case 'ArrowLeft':
        this.moveFocusToPreviousTab(tgt);
        flag = true;
        break;

      case 'ArrowRight':
        this.moveFocusToNextTab(tgt);
        flag = true;
        break;

      case 'Home':
        this.moveFocusToTab(this.firstTab);
        flag = true;
        break;

      case 'End':
        this.moveFocusToTab(this.lastTab);
        flag = true;
        break;

      default:
        break;
    }

    if (flag) {
      event.stopPropagation();
      event.preventDefault();
    }
  }

  // Since this example uses buttons for the tabs, the click onr also is activated
  // with the space and enter keys
  onClick(event) {
    this.setSelectedTab(event.currentTarget);
  }
}

// Initialize tablist

window.addEventListener('load', function () {
  var tablists = document.querySelectorAll('[role=tablist].manual');
  for (var i = 0; i < tablists.length; i++) {
    new TabsManual(tablists[i]);
  }
});
</script>

{% if is_measuring == True %}
<script>
  setInterval(function() {
    var d = new Date();
    document.getElementById("plot").src = "/create_plot?ver=" + d.getTime();
  }, 2000);
</script>

<script>
  setInterval(function() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/read_serial', true);
    xhr.send();
  }, 1000);
</script>

<script>
  setInterval(function() {
    var d = new Date();
    document.getElementById("custom-terminal").innerHTML = "/refresh_log?ver= " + d.getTime() ;
  }, 1000);
</script>

{% endif %}

<!-- {% if connected == True %}
<script>
  setInterval(function() {
    var d = new Date();
    document.getElementById("terminal");
  }, 1000);
</script>
{% endif %} 

"Start\n": Initiates the titration process.
"Stop\n": Stops the titration process.
"Calib\n": Initiates the calibration process.
"Reset\n": Resets the motor position.
"F[number of steps]\n": Moves the motor forward by the specified number of steps.
Example: "F500\n" moves the motor forward by 500 steps.
"B[number of steps]\n": Moves the motor backward by the specified number of steps.
Example: "B500\n" moves the motor backward by 500 steps.
"Null\n": Sets the NULLPOSITION to 0.
"Change\n": Switches between two sets of values for change and endvalue.





-->

{% endblock %}