html,
body {
    height: 100%;
}
body {
    background-color: #fff;
    font-family: sans-serif;
    overflow: hidden;
}

#blocklydiv { 
    float: bottom;
    height: 90%;
    width: 100%;
}
#images {
    position: fixed;
    right: 0;
}

.button1 {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color:   #1E90FF } /* Blue */
.button3 {background-color:   #1E90FF }
.button4 {background-color:   #1E90FF }

.button:hover{
    background-color:#00008B  ;
}

.button1:hover {
    background-color: #006400;
    color: white;}

.button1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }