html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}
body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.leftcontainer {
    width: 66vw;
    height: 99.5vh;
    float: left;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}
.leftcontainer header {
    height: 12vh;
    width: 66vw;
    display: grid;
    align-items: center;
    border: 2px solid green;
}
.leftcontainer nav {
    height: 6.5vh;
    width: 100%;
    border: 2px solid violet;
}
.leftcontainer nav menu button {
    border: none;
    color: white;
    background-color: #1E90FF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.leftcontainer nav menu button:hover {
    background-color: darkblue;
}
.leftcontainer .blocklyArea {
    height: 68.5vh;
    width: 100%;
    border: 2px solid black;
}
.leftcontainer footer {
    height: 12vh;
    width: 100%;
    border: 2px solid orange;
}
.rightcontainer {
    width: 34vw;
    height: 99.5vh;
    float: left;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}
.rightcontainer .terminal {
    margin: auto;
    height: 95%;
    width: 95%;
    border: 2px solid darkblue;
}
.rightcontainer .terminal .terminal_item {
    font-size: small;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 5px;
}
.rightcontainer .terminal .terminal_item figure {
    margin: 0;
    text-align: center;
}
.rightcontainer .terminal .terminal_item figure figcaption {
    display: inline-block;
    text-align: left;
}
.rightcontainer .terminal .terminal_item figure .terminal_item img {
    width: 100%;
    height: auto;
}